body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
    margin-top: 20px;
    background-image: url("RR.png");
    
}
.container {
    background-color: #555;
    width: 30%; /* Defina a largura do container como desejar */
    height: 40%; /* Defina a altura do container como desejar */
    margin: auto; /* Isso irá centralizar horizontalmente */
    position: absolute; /* Posição absoluta para centralizar verticalmente */
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    border: 2px solid #007BFF; /* Adiciona uma borda de 2px sólida com a cor #007BFF */
    background-color: white; /* Define o fundo como branco */
    border-radius: 10px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra */
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0080b3;
}

#mensagem {
    color: #007BFF;
    font-weight: bold;
}

#textoAlterado {
    color: #555;
    font-style: italic;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p{
    color: #007BFF;
}

.div #mensagemAgradecimento {
    color: #fbff00;
}